
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /popo/wordpress-4.3-fr_FR/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /popo/wordpress-4.3-fr_FR/wordpress/index.php [L]
</IfModule>

# END WordPress
