/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";


/*==================*/
/* MENU PRINCIPAL  */
/*==================*/
#menu-main-onepage {
	a {
		font-size: 16px;
		color:#ffffff;
		font-weight: bold;
		line-height:70px;
		padding:0 50px;
	}
}


/*==================*/
/* MENU JAUNE ====  */
/*==================*/
#menuJaune {
	ul {
		li {
			list-style-type: none;
			float: left;
			padding:0 20px;
			a {
				font-size:14px;
				color:#000000;
			}
		}
	}
	background-color: #ffff33;
	height:30px;
	line-height:30px;
}